.button {
  display: inline-block;
  margin-right: 10px;
}

.button-container {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  
}
.advbutton {
  float: left;
}

.indexadv, .indeximg {
  position: absolute;
  top: 0;
  right: 0;
}
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
input[type="text"] {
  border-radius: 20px;
  padding: 10px;
  border: none;
  box-shadow: 0 0 5px grey;
  width: 300px;
}
input[type="submit"] {
  background-color: #4285F4;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 2px;
  cursor: pointer;
  margin-left: 5px;
}

.search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.search-bar input[type="text"] {
  border-radius: 20px;
  padding: 10px;
  border: none;
  box-shadow: 0 0 5px grey;
  width: 300px;
}

.search-bar button[type="submit"] {
  background-color: #f2f2f2;
  color: #5f6368;
  border: 1px solid #dfe1e5;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  height: 36px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease, border-color 0.2s ease;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}


